.article-list {
    padding: 30px;
}

.left-panel {
    margin-top: 30px;
}

.right-panel-box {
    margin-bottom: 10px;
}

.article-card-title {
    font-size: large;
    color: #333;
    font-weight: 600;
}

.article-card-title:hover {
    color: #6495ED;
}

.article-card-tags {
    float: right;
}